.player1 {
  float: left;
  width: 300px;
  height: 300px;
  background: #F5F5F5;
  border: #999 1px solid;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}

.player2 {
  float: right;
  width: 300px;
  height: 300px;
  background: #F5F5F5;
  border: #999 1px solid;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}

.dice {
  float: right;
  width: 150px;
  height: 150px;
  background: #F5F5F5;
  border: #999 1px solid;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
  margin-right: 160px;
}

.Roll {
  margin-top: 200px;
  margin-left: 210px;
}
.Hold {
  margin-top: 200px;
  margin-left: 10px;
}

body {
  background-image: url("../img/img1.jpg");
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}
